
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* this causes all boxes to include padding and margin in their height & width calculations (as opposed to adding them after defining height & width) */

}

.app {
    height:80vh;  /* every 1 vh = 1% of the viewport height */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* containing all 3 of these sections because they are so similar in properties */

.time-select, .sound-picker, .player-container {
    height: 80%;
    flex: 1; /* this causes all flex elements to be same size. added to see our sections on the page */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.player-container {
    position: relative;
}

.player-container svg {
    position: absolute;
    height: 50%;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%) rotate(-90deg); /* This puts the circle perfectly in the middle and up top -   /* rotate 90 degrees counterclockwise to make the track start/end at the top instead of the right */
    pointer-events: none; /* removes any pointer events i.e. clicks, so that we can click the button which is below the circle */

}

.time-display {
    position: absolute; /* notice when we changed this to position: absolute, we removed it as a flex element. so the play button was centered automatically! however, could it ever get out of line with the svg circle, since it's not absolute? hmmmm... */
    bottom: 10%;
    color: white;
    font-size: 50px;
}
video {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: -10;
}

.time-select button, 
.sound-picker button {
    color: white;
    width: 30%;
    height: 10%;
    background: none;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    transition: all 0.5s ease;
}

.time-select button:hover {
    color: black;
    background: white;
}

.sound-picker button {
    border: none;
    height: 120px;
    width: 120px;
    border-radius: 50%; /* makes for a perfectly circular element */
    padding: 30px;
}

.sound-picker button:nth-child(1) { 
    background: #4972a1;
}

.sound-picker button:nth-child(2) { 
    background: #a14f49;
}

.sound-picker button img {
    height: 100%; /* this fixes the issue where img is popping out of the button */
}